body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/svelte-charla.appspot.com/o/FondoRascacielos.jfif?alt=media&token=0b9a544f-10b2-4fa9-a4c2-0b0089d1b1a0");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover

}